<tc-title text="waka-time"></tc-title>

<div class="content--primary" ng-controller="wakaCtrl">
  <div class="page">

    <div class="page--content">
      <div class="waka--content">
        <h1></h1>
        <span class="waka-data">
          Total time coding this month:
        </span>
        </br>
        <span class="waka-data">
          {{waka.data.human_readable_total}}
        </span>
        </br>
        <!-- <span class="waka-data">Total as of 3/7:  246308</span> -->

        <div id="radar" ><bars class="radarChart" data="radarChartData"></bars></div>

      </div>
    </div>
  </div>
