<tc-title text="bouncing dots"></tc-title>

<div class="content--primary project-description">


  <section class="project-intro">
    <h3>description:</h3>
    <span>
      Pushing my JavaScript knowledge to the limit I made this simple game.
    </span>
  </section>

  <section class="project-images">
    <img ng-src="{{ dotsSrc }}" alt="" width="320px"/>
    </br>
  </section>

  <section class="project-details">

    <h3>responsibilites:</h3>
    <span>Front End Development</span>
    <span>&</span>
    <span>Design</span>
    <h3>tools/frameworks:</h3>
    <ul>
      <li>JavaScript</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Illustrator</li>
    </ul>
  </br>
  </section>

  <section class="logoLink">
    <span class="checkItOut">Check it out:</span>
    </br>
    <span class="hexImage">
      <a target="_blank" href="http://tcasey.github.io/dots/">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="870px" height="399px" viewBox="0 0 870 399" style="enable-background:new 0 0 870 399;"
          xml:space="preserve">
          <style type="text/css">
            .style12-0 {
              fill: #6CFFC6;
            }

            .style12-1 {
              fill: #FF5539;
            }

            .style12-2 {
              fill: #226EFF;
            }

            .style12-3 {
              fill: #D06E00;
            }

            .style12-4 {
              fill: #7312B2;
            }

            .style12-5 {
              fill: #4D4B45;
            }
          </style>
          <defs>
          </defs>
          <circle class="style12-0" cx="762" cy="135" r="75" />
          <ellipse class="style12-1" cx="405.5" cy="296.5" rx="82.5" ry="82.5" />
          <circle class="style12-2" cx="612" cy="185" r="75" />
          <circle class="style12-3" cx="267" cy="135" r="75" />
          <circle class="style12-4" cx="426" cy="75" r="75" />
          <ellipse class="style12-1" cx="487.8" cy="214.3" rx="29.2" ry="29.7" />
          <ellipse class="style12-2" cx="55.7" cy="240.5" rx="55.7" ry="55.5" />
          <circle class="style12-0" cx="186" cy="323" r="75" />
          <ellipse class="style12-5" cx="778.7" cy="310.6" rx="91.3" ry="88.4" />
          <circle class="style12-5" cx="236" cy="244" r="75" />
          <circle class="style12-3" cx="625.5" cy="270.5" r="37.5" />
        </svg>
    </a>
    </span>
  </section>
</div>

<tc-footer></tc-footer>
