<tc-title text="precourse tracker"></tc-title>

<div class="content--primary project-description">

  <section class="project-intro">
    <h3>description:</h3>
    <span>While attending a bootcamp I sought out to build a better testing platform to improve the level of graduates.</span>
  </section>

  <section class="project-images">
    <img src="web-img/portfolio/pre-course/login.png" alt="" width="320px"/>
    </br>
    <img src="web-img/portfolio/pre-course/test.png" alt="" width="320px"/>
    </br>
    <img src="web-img/portfolio/pre-course/assessment.png" alt="" width="320px"/>
    </br>
    <img src="web-img/portfolio/pre-course/radar.png" alt="" width="320px"/>
    </br>
  </section>

  <section class="project-details">

    <h3>responsibilites:</h3>
    <span>Full Stack Development</span>
    <span>&</span>
    <span>Design</span>
    <h3>tools/frameworks:</h3>
    <ul>
      <li>Angular JS</li>
      <li>d3.js</li>
      <li>jQuery</li>
      <li>Illustrator</li>
      <li>MongoDB</li>
      <li>Node JS</li>
      <li>Express</li>
      <li>Gulp</li>
    </ul>
  </br>
  </section>

<section class="logoLink">
  <span class="checkItOut">Check it out:</span>
  </br>
      <span class="hexImage">
        <a target="_blank" href="http://precourse.herokuapp.com/#/login">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="41.8px" height="56.1px" viewBox="0 0 521.8 536.1" style="enable-background:new 0 0 521.8 536.1;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #406BB2;
                  }

                  .st1 {
                    fill: #203659;
                  }

                  .st2 {
                    fill: #D9E1F0;
                  }

                  .st3 {
                    fill: none;
                    stroke: #406BB2;
                    stroke-width: 0.25;
                    stroke-miterlimit: 10;
                  }
                </style>
                <defs>
                </defs>
                <g>
                  <g id="XMLID_2_">
                    <g>
                      <path class="st0" d="M304,115.9c72.5,139.6,145,279.1,217.6,418.7c-89,0.6-178.1,1-267.1,1.2h0v-0.5
                c-2.3-116.5-4.6-232.9-6.9-349.4c0-1.4-0.1-2.8-0.1-4.1L304,115.9z"></path>
                      <path class="st1" d="M247.5,181.6L247.5,181.6c0,1.4,0.1,2.8,0.1,4.2c2.3,116.5,4.6,233,6.9,349.4v0.5
                c-84.7,0.2-169.5,0.2-254.2,0c63.7-140,127.4-279.9,191.1-419.9L247.5,181.6z"></path>
                      <path class="st2" d="M247.5,181.6l-56.2-65.8c17.5-38.5,35.1-77.1,52.6-115.6c0.3,15.6,0.6,31.2,0.9,46.8
                c0.8,42.6,1.7,85.1,2.5,127.7c0,1.8,0.1,3.6,0.1,5.3C247.5,180.6,247.5,181.1,247.5,181.6z"></path>
                    </g>
                    <g>
                      <path class="st3" d="M247.6,185.8c2.3,116.5,4.6,233,6.9,349.4"></path>
                      <path class="st3" d="M247.5,181.7c0,1.4,0.1,2.8,0.1,4.1"></path>
                    </g>
                  </g>
                </g>
              </svg>
      </a>
      </span>
    </section>
</div>

<tc-footer></tc-footer>
