<tc-title text="landing page"></tc-title>

<div class="content--primary project-description">

<section class="project-intro">
  <h3>description:</h3>
  <span>landing page nonesense</span>
</section>

<section class="project-images">
  <img src="web-img/portfolio/karma/CTA.png" alt="" width="320px"/>
  </br>
  <img src="web-img/portfolio/karma/simplicity.png" alt="" width="320px"/>
  </br>
</section>

<section class="project-details">

  <h3>responsibilites:</h3>
  <span>Front End Development</span>
  <span>&</span>
  <span>Design</span>
  <h3>tools/frameworks:</h3>
  <ul>
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Illustrator</li>
  </ul>
</br>
</section>

<section class="logoLink">
  <span class="checkItOut">Check it out:</span>
  </br>
    <span class="hexImage karma">
      <a target="_blank" href="http://tcasey.github.io/startup-landing-page/">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="144px" height="216px" viewBox="0 0 144 216" style="enable-background:new 0 0 144 216;"
          xml:space="preserve">
          <style type="text/css">
            .style4 {
              fill: #f15a29;
            }
          </style>
          <defs>
          </defs>
          <path class="style4" d="M126.1,212.9c4.1,4.1,10.7,4.1,14.8,0c4.1-4.1,4.1-10.7,0-14.8l-28.6-28.6l18.1-18.1c8.4-8.4,13.6-20,13.6-32.9C144,92.8,123.2,72,97.5,72S51,92.8,51,118.5c0,12.8,5.2,24.5,13.6,32.9l0,0l18.1,18.1l-18.1,18.1c-4.6,4.6-11,7.5-18.1,7.5c-14.1,0-25.6-11.5-25.6-25.6v-159C20.9,4.7,16.2,0,10.5,0C4.7,0,0,4.7,0,10.5v159C0,195.2,20.8,216,46.5,216c12.8,0,24.5-5.2,32.9-13.6l18.1-18.1L126.1,212.9z M79.4,136.6c-4.6-4.6-7.5-11-7.5-18.1c0-14.1,11.5-25.6,25.6-25.6s25.6,11.5,25.6,25.6c0,7.1-2.9,13.5-7.5,18.1l0,0l-18.1,18.1L79.4,136.6z"
          />
        </svg>
    </a>
    </span>
  </section>
</div>

<tc-footer></tc-footer>
