<section id="bio" class="header">

  <h1>
    <a href="home" class="hvr-float-shadow">TREVOR CASEY</a><br><small></small>
  </h1>
</section>

  <div class="content--primary">
    <div class="page">

      <div class="page--content">
        <div class="bio--content">
          <img src="images/nerd.png" alt="Bio" />
          <h1>bio</h1>

          <p>I'm a creative professional and front-end developer with an obession for clean code and an eye for design.</p>
          <p>I studied Information Systems at the University of Utah and am currently attending an immersive bootcamp at DevMountain focused on the MEAN stack.</p>
          <p>I'm a lover of the outdoors, a recent road bike enthusiast, and a student of new and exciting technologies.</p>
          </p>
        </div>
      </div>
    </div>
