<tc-title text="bio"></tc-title>

  <div class="content--primary">
    <div class="page">

      <div class="page--content">
        <div class="bio--content">
          <img src="images/nerd.png" alt="Bio" />
          <h1>bio</h1>

          <p>I'm a creative professional and front-end developer with an obession for clean code and an eye for design.</p>
          <p>I studied Information Systems at the University of Utah and am currently attending an immersive bootcamp at DevMountain focused on the MEAN stack.</p>
          <p>I'm a lover of the outdoors, a recent road bike enthusiast, and a student of new and exciting technologies.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          </p>
        </div>
      </div>
    </div>
