<div id="menu-wrapper">
  <div id="icon-wrap-2" class="icon-wrap">

    <svg width="70" height="50" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 524.5 2000 2000.5" enable-background="new 0 524.5 2000 2000.5" xml:space="preserve">

      <circle cx="1000" cy="1530" r="660" stroke="none" fill="" />

      <path class="x2" fill="none" stroke="" stroke-miterlimit="10" d="M1410.5,1235.2H589.3" />

      <path class="x2" fill="none" stroke="" stroke-miterlimit="10" d="M1410.5,1815H589.3" />

      <path class="yy" fill="none" stroke="" stroke-miterlimit="10" d="M1410.5,1524.7c0,0-821.2,0-821.2,0c-211.3,0-260,98-218.2,217.6
  l0,0.1c90.1,260.7,337.6,447.9,628.9,447.9c367.4,0,665.2-297.8,665.2-665.2c0-79-13.8-154.8-39.1-225.2" />

      <path class="yy" fill="none" stroke="" stroke-miterlimit="10" d="M589.3,1524.7c0,0,821.2,0,821.2,0c211.3,0,260-98,218.2-217.6l0-0.1
  c-90.1-260.7-337.6-447.9-628.9-447.9c-367.4,0-665.2,297.8-665.2,665.2c0,79,13.8,154.8,39.1,225.2" />

    </svg>


  </div>
  <ul class="menu-nav">
    <li><a ui-sref="bio">bio</a></li>
    <li><a ui-sref="projects">projects</a></li>
    <li><a ui-sref="skills">skills</a></li>
  </ul>
</div>
