<tc-title text="projects"></tc-title>

<div class="content--primary">
  <div id="wrapper">
    <div class="instruct">

    <span>swipe</span>
      </br>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="60px" height="40px" viewBox="0 0 354.8 157.9" style="enable-background:new 0 0 354.8 157.9;"
      xml:space="preserve">
      <style type="text/css">
      	.styleLeft{fill:rgba(111, 130, 166, 0.36);}
      </style>
      <defs>
      </defs>
      <g class="styleLeft"transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
        <path d="M702.5,5100.5c-25-12-162-142-362-342c-286-288-322-328-333-368c-14-50-8-117,14-158c8-15,160-172,338-349
 		c344-342,345-343,441-343c97,0,187,93,187,195c0,77-23,112-168,258l-137,137h657h656l6-33c11-57,80-189,138-261
 		c101-125,237-217,398-268c64-20,96-23,220-23s156,3,220,23c243,77,419,235,513,462c76,182,76,418,0,600c-94,227-270,385-513,462
 		c-64,20-96,23-220,23s-156-3-220-23c-161-51-297-143-398-268c-58-72-127-204-138-261l-6-33h-656h-655l145,148
 		c151,154,158,165,158,254C987.5,5068.5,827.5,5162.5,702.5,5100.5z" />
      </g>
    </svg>
    </br>
    <span>on each project</span>

    </div>

    <div class="projects--content">


      <ul id="hexGrid">

        <li class="hex fade-in three">
          <div class="hexIn" ng-controller="hex1Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
          </div>
        </li>

        <li class="hex fade-in two">
          <div class="hexIn" ng-controller="hex2Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
          </div>
        </li>


        <li class="hex fade-in five">
          <div class="hexIn" ng-controller="hex3Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
          </div>
        </li>

        <li class="hex fade-in one">
          <div class="hexIn" ng-controller="hex4Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in four">
          <div class="hexIn" ng-controller="hex5Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in six">
          <div class="hexIn" ng-controller="hex6Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in ten">
          <div class="hexIn" ng-controller="hex7Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in eight">
          <div class="hexIn" ng-controller="hex8Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in nine">
          <div class="hexIn" ng-controller="hex9Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in seven">
          <div class="hexIn" ng-controller="hex10Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in one">
          <div class="hexIn" ng-controller="hex11Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

        <li class="hex fade-in seven">
          <div class="hexIn" ng-controller="hex12Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url">
          </div>
        </li>

      </ul>
    </div>
  </div>



</div>

<tc-footer></tc-footer>
