<tc-title text="projects"></tc-title>

<div class="content--primary">
  <div id="wrapper">
    <span id="swipe-more">swipe left to learn more</span>
    <div class="projects--content">


      <ul id="hexGrid">
          <li class="hex fade-in three">
              <div class="hexIn" ng-controller="hex1Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
            </div>
          </li>



          <li class="hex fade-in one">
              <div class="hexIn" ng-controller="hex2Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
            </div>
          </li>


        <li class="hex fade-in two">
          <div class="hexIn" ng-controller="hex3Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" ng-class="{'moveToLeft' : responsive.moveToLeft}">
          </div>
        </li>

        <li class="hex fade-in three">
          <div class="hexIn" ng-controller="hex4Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in four">
          <div class="hexIn" ng-controller="hex5Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in one">
          <div class="hexIn" ng-controller="hex6Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in four">
          <div class="hexIn" ng-controller="hex7Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in two">
          <div class="hexIn" ng-controller="hex8Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in one">
          <div class="hexIn" ng-controller="hex9Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in four">
          <div class="hexIn" ng-controller="hex10Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

        <li class="hex fade-in one">
          <div class="hexIn" ng-controller="hex11Ctrl as responsive" ng-include="responsive.ngIncludeSelected.url" >
          </div>
        </li>

      </ul>
    </div>
  </div>



</div>
