<section id="projects" class="header">

  <h1>
    <a href="#" class="hvr-float-shadow">Trevor Casey</a><br><small>projects</small>
  </h1>
</section>


<div class="content--primary">
  <div id="wrapper">
    <div class="projects--content">






      <ul id="hexGrid">
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/roadbike-etsy.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/hot-cold.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/ncaa.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/karma.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/portfolio-one.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/todo-list.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/smart-shopper.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/twitter-clone.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/street-fighter.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/golf.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="">
                          <img src="web-img/fizz-buzz.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <!-- <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm4.staticflickr.com/3771/13199704015_72aa535bd7.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li>
                  <li class="hex">
                      <a class="hexIn" href="#">
                          <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                          <h1>This is a title</h1>
                          <p>Some sample text about the article this hexagon leads to</p>
                      </a>
                  </li> -->
              </ul>







      <!-- <div class="columnOne-container">
        <div class="">
          <img src="images/EtsyHack.png" class="falling etsy" alt="Etsy Hack" width="80px" />
          <p></p>
        </div>
        <div class="">
          <img src="images/HotCold.jpg" class="falling hot-cold" alt="Hot and Cold" width="80px" />
          <p></p>
        </div>
        <div class="">
          <img src="images/Karma.png" class="falling karma" alt="Karma" width="80px" />
          <p></p>
        </div>

      </div>

      <div class="columnTwo-container">
        <div class="rowTwo">
          <img src="images/NCAA-quiz.jpg" class="falling ncaa" alt="NCAA quiz" width="80px" />
          <p></p>
        </div>
        <div class="rowTwo">
          <img src="images/nerdwax.png" class="falling portfolio-one" alt="First Portfolio" width="20px" />
          <p></p>
        </div>
        <div class="rowTwo">
          <br>
          <img src="images/SmartShopper.jpg" class="falling shopper" alt="Smart Shopper" width="80px" />
          <p></p>
        </div>


      </div>

      <div class="columnThree-container">

        <div class="rowThree">
          <img src="images/streetFighter.jpg" class="falling street-fighter" alt="Street Fighter" width="80px" />
          <p></p>
        </div>

        <div class="rowThree">
          <img src="images/twitter-clone.jpg" class="falling twitter-clone" alt="Twitter Clone" width="80px" />
          <p></p>
        </div>

        <div class="rowThree">
          <img src="images/todo-list.jpg" class="falling todo-list" alt="Todo list" width="80px" />
          <p></p>
        </div>

      </div> -->

    </div>
  </div>



</div>
