
  <section id="skillset" class="header">

    <h1 >
    <a ui-sref="home" class="hvr-float-shadow">Trevor Casey</a><br><small>current & developing skillset</small></small>
    <a href="home" class="hvr-float-shadow">TREVOR CASEY</a><br><small>current skillset</small></small>
  </h1>
  </section>


  <section class="content--primary">
    <div class="skillset--content">

      <div class="rowOne-container">
        <div class="rowOne">
          <img src="images/icons/javascript.svg" class="responsive-img" alt="JavaScript" width="80px" />
          <p>JavaScript</p>
        </div>
        <div class="rowOne">
          <img src="images/icons/html5-color.svg" class="responsive-img" alt="HTML5" width="80px" />
          <p>HTML5</p>
        </div>
        <div class="rowOne">
          <img src="images/icons/css3-color.svg" class="responsive-img" alt="CSS3" width="80px" />
          <p>CSS3</p>
        </div>

      </div>

      <div class="rowTwo-container">
        <div class="rowTwo">
          <img src="images/icons/angular-color.svg" class="responsive-img" alt="Angular JS" width="80px" />
          <p>Angular JS</p>
        </div>
        <div class="rowTwo">
          <img src="images/icons/git.svg" class="responsive-img" alt="Git" width="80px" />
          <p>Git</p>
        </div>
        <div class="rowTwo">
          <br>
          <img src="images/icons/npm.png" class="responsive-img" alt="NPM" width="80px" />
          <p>NPM</p>
        </div>



        <!-- <div class="rowThree">
            <img src="icons/yeoman.png" class="responsive-img" alt="Yeoman" width="80px" />
            <p>Yeoman</p>
          </div> -->


      </div>

      <div class="rowThree-container">

        <div class="rowThree">
          <img src="images/icons/nodejs.png" class="responsive-img" alt="Node JS" width="80px" />
          <p>Node JS</p>
          <p>Coming soon...</p>
        </div>

        <div class="rowThree">
          <img src="images/icons/mongodb.png" class="responsive-img" alt="MongoDB" width="80px" />
          <p>MongoDB</p>
          <p>Coming soon...</p>
        </div>

        <div class="rowThree">
          <img src="images/icons/firebase.png" class="responsive-img" alt="Firebase" width="80px" />
          <p>Firebase</p>
          <p>Coming soon...</p>
        </div>

        <!-- <div class="rowThree">
            <p>
              <img src="images/icons/sass.png" class="responsive-img" alt="SASS" width="80px" />
            </p>
            <p>Sass</p>
          </div> -->

      </div>

      <div class="rowFour-container">
        <!-- <div class="rowFour">
          <img src="images/icons/backbone.png" class="responsive-img" alt="Backbone JS" width="80px" />
          <p>Backbone JS</p>
          <p>Coming soon...</p>
        </div> -->
        <div class="rowFour">
          <img src="images/icons/meteorjs.png" class="responsive-img" alt="Meteor JS" width="80px" />
          <p>Meteor JS</p>
          <p></p>
        </div>
        <!-- <div class="rowFour">
          <br>
          <p>
            <img src="images/icons/express.png" class="responsive-img" alt="Express" width="80px" />
          </p>
          <p>Express JS</p>
          <p>Coming soon...</p>
        </div> -->
        <div class="rowFour">
          <img src="images/icons/bower.svg" class="responsive-img" alt="Bower" width="80px" />
          <p>Bower</p>
        </div>
        <!-- <div class="rowFour">
          <img src="images/icons/bootstrap-color.svg" class="responsive-img" alt="Bootstrap" width="80px" />
          <p>Bootstrap</p>
        </div> -->
        <div class="rowFour">
          <img src="images/icons/react.png" class="responsive-img" alt="React" width="80px" />
          <p>React</p>
          <p>Coming soon...</p>
        </div>
      </div>



      <div class="rowFive-container">
        <div class="rowFive">
          <img src="images/icons/grunt.png" class="responsive-img" alt="Grunt" width="80px" />
          <p>Grunt</p>
        </div>
        <!-- <div class="rowFive">
                  <img src="images/icons/wordpress.png" class="responsive-img" alt="Wordpress" width="80px" />
                  <p>WordPress</p>
                </div> -->
        <!-- <div class="">
                  add meteorJS
                </div> -->
        <div class="rowFive">
          <img src="images/icons/jquery-icon.png" class="responsive-img" alt="jQuery" width="80px" />
          <p>jQuery</p>
        </div>
        <div class="rowFive">
          <img src="images/icons/less.png" class="responsive-img" alt="LESS" width="80px" />
          <p>Less</p>
        </div>
      </div>





    </div>
  </section>
