<tc-title text="current & developing skillset"></tc-title>

  <section class="content--primary">
    <div class="skillset--content">

      <div class="rowOne-container">
        <div class="rowOne">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">           <img src="images/icons/javascript.svg" class="responsive-img" alt="JavaScript" width="80px" />
          </a>
          <p>JavaScript</p>
        </div>
        <div class="rowOne">
          <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
            <img src="images/icons/html5-color.svg" class="responsive-img" alt="HTML5" width="80px" />
          </a>
          <p>HTML5</p>
        </div>
        <div class="rowOne">
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
            <img src="images/icons/css3-color.svg" class="responsive-img" alt="CSS3" width="80px" />
          </a>
          <p>CSS3</p>
        </div>

      </div>

      <div class="rowTwo-container">
        <div class="rowTwo">
          <a href="https://angular.io/">
            <img src="images/icons/angular-color.svg" class="responsive-img" alt="Angular JS" width="80px" />
          </a>
          <p>Angular JS</p>
        </div>
        <div class="rowTwo">
          <a href="https://git-scm.com/documentation">
            <img src="images/icons/git.svg" class="responsive-img" alt="Git" width="80px" />
          </a>
          <p>Git</p>
        </div>
        <div class="rowTwo">
          <br>
          <a href="https://docs.npmjs.com/">
            <img src="images/icons/npm.png" class="responsive-img" alt="NPM" width="80px" />
          </a>
          <p>NPM</p>
        </div>



        <!-- <div class="rowThree">
            <img src="icons/yeoman.png" class="responsive-img" alt="Yeoman" width="80px" />
            <p>Yeoman</p>
          </div> -->


      </div>

      <div class="rowThree-container">

        <div class="rowThree">
          <a href="https://nodejs.org/en/">
            <img src="images/icons/nodejs.png" class="responsive-img" alt="Node JS" width="80px" />
          </a>
          <p>Node JS</p>
          <p>Coming soon...</p>
        </div>

        <div class="rowThree">
          <a href="https://docs.mongodb.org/manual/">
            <img src="images/icons/mongodb.png" class="responsive-img" alt="MongoDB" width="80px" />
          </a>
          <p>MongoDB</p>
          <p>Coming soon...</p>
        </div>

        <div class="rowThree">
          <a href="https://www.firebase.com/">
            <img src="images/icons/firebase.png" class="responsive-img" alt="Firebase" width="80px" />
          </a>
          <p>Firebase</p>
          <p></p>
        </div>

        <!-- <div class="rowThree">
            <p>
              <img src="images/icons/sass.png" class="responsive-img" alt="SASS" width="80px" />
            </p>
            <p>Sass</p>
          </div> -->

      </div>

      <div class="rowFour-container">
        <!-- <div class="rowFour">
          <img src="images/icons/backbone.png" class="responsive-img" alt="Backbone JS" width="80px" />
          <p>Backbone JS</p>
          <p>Coming soon...</p>
        </div> -->
        <div class="rowFour">
          <a href="http://devdocs.io/meteor/">
            <img src="images/icons/meteorjs.png" class="responsive-img" alt="Meteor JS" width="80px" />
          </a>
          <p>Meteor JS</p>
          <p></p>
        </div>
        <!-- <div class="rowFour">
          <br>
          <p>
            <img src="images/icons/express.png" class="responsive-img" alt="Express" width="80px" />
          </p>
          <p>Express JS</p>
          <p>Coming soon...</p>
        </div> -->
        <div class="rowFour">
          <a href="http://bower.io/">
            <img src="images/icons/bower.svg" class="responsive-img" alt="Bower" width="80px" />
          </a>
          <p>Bower</p>
        </div>
        <!-- <div class="rowFour">
          <img src="images/icons/bootstrap-color.svg" class="responsive-img" alt="Bootstrap" width="80px" />
          <p>Bootstrap</p>
        </div> -->
        <div class="rowFour">
          <a href="https://facebook.github.io/react/">
            <img src="images/icons/react.png" class="responsive-img" alt="React" width="80px" />
          </a>
          <p>React</p>
          <p>Coming soon...</p>
        </div>
      </div>



      <div class="rowFive-container">
        <div class="rowFive">
          <a href="http://gruntjs.com/">
            <img src="images/icons/grunt.png" class="responsive-img" alt="Grunt" width="80px" />
          </a>
          <p>Grunt</p>
        </div>
        <!-- <div class="rowFive">
                  <img src="images/icons/wordpress.png" class="responsive-img" alt="Wordpress" width="80px" />
                  <p>WordPress</p>
                </div> -->
        <!-- <div class="">
                  add meteorJS
                </div> -->
        <div class="rowFive">
          <a href="http://api.jquery.com/">
            <img src="images/icons/jquery-icon.png" class="responsive-img" alt="jQuery" width="80px" />
          </a>
          <p>jQuery</p>
        </div>
        <div class="rowFive">
          <a href="http://lesscss.org/">
            <img src="images/icons/less.png" class="responsive-img" alt="LESS" width="80px" />
          </a>
          <p>Less</p>
        </div>
      </div>





    </div>
  </section>
