<tc-title text="to do"></tc-title>

<div class="content--primary project-description">
  <section class="project-intro">
    <h3>description:</h3>
    <span>
      I seriously love the buttons on this one. jQuery.
    </span>
  </section>

  <section class="project-images">
  </section>

    <section class="project-details">

      <h3>responsibilites:</h3>
      <span>Front End Development</span>
      <span>&</span>
      <span>Design</span>
      <h3>tools/frameworks:</h3>
      <ul>
        <li>JavaScript</li>
        <li>Snap.svg</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Illustrator</li>
      </ul>
    </br>
    </section>

    <section class="logoLink">
      <span class="checkItOut">Check it out:</span>
      </br>
      <span class="hexImage">
        <a target="_blank" href="http://tcasey.github.io/Todo-List/">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="255.4px" height="185.3px" viewBox="0 0 255.4 185.3" style="enable-background:new 0 0 255.4 185.3;"
          xml:space="preserve">
          <style type="text/css">
            .style6T {
              fill: #008cba;
            }

            .style6D {
              fill: #3bd57d;
            }

            .style6 {
              fill: #4B4841;
              stroke-width: 10;
              stroke-miterlimit: 10;
            }
          </style>
          <defs>
          </defs>
          <g class="style6T" transform="translate(0.000000,315.000000) scale(0.100000,-0.100000)">
            <path d="M104.7,3132c-22-7-53-27-69-43c-57-57-44-165,26-216c26-20,46-21,275-26l247-5l5-710c5-694,5-711,26-745
            c68-117,240-117,308,0c21,34,21,51,26,745l5,710l245,5c159,3,252,9,265,17c48,27,69,62,72,121c5,70-16,109-73,138
            c-37,18-70,19-679,21C253.7,3146,136.7,3144,104.7,3132z" />
            <path class="style6D" d="M1638.7,3107c30-58,31-158,3-222l-21-45l112-6c172-8,255-46,335-154c74-100,111-248,111-448c0-267-68-456-202-560
            c-92-72-184-84-613-85h-290l-2-80c-2-71-10-103-48-193c-8-18,8-19,436-14c413,4,450,6,526,25c214,56,371,185,468,387
            c134,279,134,741,0,1021c-61,127-179,256-290,317c-102,57-223,84-424,94l-123,6L1638.7,3107z" />
          </g>
          <path class="style6" d="M144.1,121.5L144.1,121.5c-2.7-1.7-3.6-5.3-2-8L176.8,56c1.7-2.7,5.3-3.6,8-2l0,0c2.7,1.7,3.6,5.3,2,8
          l-34.7,57.5C150.4,122.3,146.8,123.1,144.1,121.5z" />
          <path class="style6" d="M151.4,119.9L151.4,119.9c-2,2.5-5.7,3-8.2,1L113,97.2c-2.5-2-3-5.7-1-8.2l0,0c2-2.5,5.7-3,8.2-1l30.2,23.7
          C152.9,113.7,153.3,117.4,151.4,119.9z" />
          </svg>
        </a>
      </span>
    </section>
</div>

<tc-footer></tc-footer>
