<tc-title text="react material design"></tc-title>

<div class="content--primary project-description">

  <section class="project-intro">
    <h3>description:</h3>
    <span>I applied my newly found interests in this app. React, material design, & list apps 😜</span>
  </section>

  <section class="project-images">
    <img id="bounce" ng-src="{{ material1 }}" alt="" width="320px"/>
    </br>
    <img id="bounce" ng-src="{{ material2 }}" alt="" width="320px"/>
    </br>
    <img id="bounce" ng-src="{{ material3 }}" alt="" width="320px"/>
    </br>
  </section>

  <section class="project-details">

    <h3>responsibilites:</h3>
    <span>Front End Development</span>
    <span>&</span>
    <span>Design</span>
    <h3>tools/frameworks:</h3>
    <ul>
      <li>React.js</li>
      <li>Webpack</li>
      <li>Babel</li>
    </ul>
  </br>
  </section>

  <section class="project-nav">
    <a ui-sref="memory" class="to-the-next-one">
      <svg-left></svg-left>
    </a>

    <section class="logoLink">
      <span class="checkItOut">Check it out:</span>
      </br>
          <span class="hexImage">
            <a target="_blank" href="http://tcasey.github.io/to-do-material/">
              <svg-material class="svg"></svg-material>
            </a>
          </span>
    </section>

    <a ui-sref="h+c" class="to-the-next-one">
      <svg-right></svg-right>
    </a>
  </section>

</div>

<tc-footer></tc-footer>
