<tc-title text="javascript developer"></tc-title>

<section class="content--primary fade-in one">
  <div id="home" class="home">
    <div class="home--image">
      <img src="images/profile-pic.jpg" class="img-responsive" alt="Trevor Casey" />
    </div>
    <div class="home--content">
      <!-- <h1>Frontend Developer</h1> -->
      <p>
        As a kid I would spend hours of each day building things with Legos. Once I grew old enough to earn some money I would go buy the cheapest watches that I could find and take them apart to find out how they worked. This basically began my path of creating things and trying to think like an engineer. So of course once college started I for sure thought that I would love Mechanical Engineering. A year and  a half later I found out that it definitely wasn't the case.
      </p>
      <p>
        After plenty of searching and career counseling I decided to give Web Development a shot and I was immediately hooked. Since then I've dived deep into it, trying to learn everything about it that I could. Now I feel like I'm in my second childhood creating beautifully functional web applications with a limitless amount of "Legos"
      </p>
  </div>

</section>

<tc-footer></tc-footer>
