<tc-title text="current & developing skillset"></tc-title>

<section class="content--primary">
  <div class="skillset--content">

    <div class="rowOne-container">
      <div class="rowOne">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
          <img src="images/icons/javascript.svg" class="responsive-img" alt="JavaScript" width="80px" />
        </a>
        <p>JavaScript</p>
      </div>
      <div class="rowOne">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
          <img src="images/icons/html5-color.svg" class="responsive-img" alt="HTML5" width="80px" />
        </a>
        <p>HTML5</p>
      </div>
      <div class="rowOne">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
          <img src="images/icons/css3-color.svg" class="responsive-img" alt="CSS3" width="80px" />
        </a>
        <p>CSS3</p>
      </div>

    </div>

    <div class="rowTwo-container">
      <div class="rowTwo">
        <a target="_blank" href="https://angular.io/">
          <img src="images/icons/angular-color.svg" class="responsive-img" alt="Angular JS" width="80px" />
        </a>
        <p>Angular JS</p>
      </div>
      <div class="rowTwo">
        <a target="_blank" href="https://git-scm.com/documentation">
          <img src="images/icons/git.svg" class="responsive-img" alt="Git" width="80px" />
        </a>
        <p>Git</p>
      </div>
      <div class="rowTwo">
        <br>
        <a target="_blank" href="http://ionicframework.com/">
          <img src="images/icons/ionic.svg" class="responsive-img" alt="Ionic" width="80px" />
        </a>
        <p>ionic</p>
      </div>
    </div>

    <div class="rowThree-container">

      <div class="rowThree">
        <a target="_blank" href="https://nodejs.org/en/">
          <img src="images/icons/nodejs.png" class="responsive-img" alt="Node JS" width="80px" />
        </a>
        <p>Node JS</p>
        <p></p>
      </div>

      <div class="rowThree">
        <a target="_blank" href="https://docs.mongodb.org/manual/">
          <img src="images/icons/mongodb.png" class="responsive-img" alt="MongoDB" width="80px" />
        </a>
        <p>MongoDB</p>
        <p></p>
      </div>

      <div class="rowThree">
        <a target="_blank" href="https://www.firebase.com/">
          <img src="images/icons/firebase.png" class="responsive-img" alt="Firebase" width="80px" />
        </a>
        <p>Firebase</p>
        <p></p>
      </div>
    </div>

    <div class="rowFour-container">
      <div class="rowFour">
        <a target="_blank" href="https://d3js.org/">
          <svg width="96" height="91" style="">
            <clipPath id="clip">
              <path d="M0,0h7.75a45.5,45.5 0 1 1 0,91h-7.75v-20h7.75a25.5,25.5 0 1 0 0,-51h-7.75zm36.2510,0h32a27.75,27.75 0 0 1 21.331,45.5a27.75,27.75 0 0 1 -21.331,45.5h-32a53.6895,53.6895 0 0 0 18.7464,-20h13.2526a7.75,7.75 0 1 0 0,-15.5h-7.75a53.6895,53.6895 0 0 0 0,-20h7.75a7.75,7.75 0 1 0 0,-15.5h-13.2526a53.6895,53.6895 0 0 0 -18.7464,-20z"></path>
            </clipPath>
            <linearGradient id="gradient-1" gradientUnits="userSpaceOnUse" x1="7" y1="64" x2="50" y2="107">
              <stop offset="0" stop-color="#f9a03c"></stop>
              <stop offset="1" stop-color="#f7974e"></stop>
            </linearGradient>
            <linearGradient id="gradient-2" gradientUnits="userSpaceOnUse" x1="2" y1="-2" x2="87" y2="84">
              <stop offset="0" stop-color="#f26d58"></stop>
              <stop offset="1" stop-color="#f9a03c"></stop>
            </linearGradient>
            <linearGradient id="gradient-3" gradientUnits="userSpaceOnUse" x1="45" y1="-10" x2="108" y2="53">
              <stop offset="0" stop-color="#b84e51"></stop>
              <stop offset="1" stop-color="#f68e48"></stop>
            </linearGradient>
            <g clip-path="url(#clip)">
              <path d="M-100,-102m-27,0v300h300z" fill="url(#gradient-1)"></path>
              <path d="M-100,-102m27,0h300v300z" fill="url(#gradient-3)"></path>
              <path d="M-100,-102l300,300" fill="none" stroke="url(#gradient-2)" stroke-width="40"></path>
            </g>
          </svg>
        </a>
        <p>D3 JS</p>
        <p></p>
      </div>
      <div class="rowFour">
        <br>
        <p>
          <img src="images/icons/express.png" class="responsive-img" alt="Express" width="80px" />
        </p>
        <p>Express JS</p>
      </div>
      <div class="rowFour">
        <a target="_blank" href="http://gulpjs.com/">
          <img src="images/icons/gulp.png" class="responsive-img" alt="Gulp" width="100px" />
        </a>
        <p>Gulp</p>
      </div>

    </div>



    <div class="rowFive-container">
      <div class="rowFive">
        <a target="_blank" href="https://facebook.github.io/react/">
          <img src="images/icons/react.png" class="responsive-img" alt="React" width="80px" />
        </a>
        <p>React</p>
      </div>

      <div class="rowFive">
        <a target="_blank" href="http://api.jquery.com/">
          <img src="images/icons/jquery-icon.png" class="responsive-img" alt="jQuery" width="80px" />
        </a>
        <p>jQuery</p>
      </div>
      <div class="rowFive">
        <a target="_blank" href="http://sass-lang.com/">
          <img src="images/icons/sass.png" class="responsive-img" alt="SASS" width="80px" />
        </a>
        <p>Sass</p>
      </div>
    </div>

  </div>
</section>

<tc-footer></tc-footer>
